<ion-card class="shiftPostingCard" (click)="messageUser()" tappable>
  <ion-item class="postBrief" [ngClass]="{onRequestType: post.requestType == 'on', offRequestType: post.requestType == 'off'}">
    <ion-card-header style="padding:0">
      <p class="postBriefHeader">
        <ion-icon name="home" class="inlinePostIcon"></ion-icon>
        {{post.station.stationNumber}} •
        <ion-icon class="inlinePostIcon" name="clock"></ion-icon>
        {{post.shiftStartTime}} •
        <ion-icon class="inlinePostIcon" name="person"></ion-icon>
        {{post.creator.firstName}} {{post.creator.lastName}}
      </p>
   </ion-card-header>
    <hr/>
    <p style="font-size:1.3rem">
        <span [hidden]="!post.isTrade">
        <ion-icon style="font-size:1.2rem" [hidden]="!post.isTrade" name="checkbox"></ion-icon>
        Trade
          </span>
         <span [hidden]="!post.isOvertime">
        <ion-icon style="margin-left:5px;font-size:1.2rem" [hidden]="!post.isOvertime" name="checkbox"></ion-icon>
        Overtime
           </span>
      <ion-item style="min-height:0;margin:0" class="postBriefMessageContainer">
        <ion-avatar item-left class="postAvatar" [hidden]="!post.creator.photo">
          <img src="{{post.creator.photo}}"/>
        </ion-avatar>
        <ion-item text-wrap [hidden]="post.comments">
          <span style="font-size:1.3rem;">No Comments</span>
        </ion-item>
        <ion-item text-wrap [hidden]="!post.comments">
          <span style="font-size:1.3rem;">{{post.comments}}</span>
        </ion-item>
      </ion-item>

  </ion-item>

</ion-card>
