<ion-item class="shiftPostingStation">
  <ion-row>
    <ion-col width-80>
      {{post.shift | momentToString}}
    </ion-col>
    <ion-col>
      <ion-row>
        <ion-col width-50>
          <span [hidden]="post.conversationCount < 1">
          <button ion-button small clear (click)="goToConversations()">
            <ion-icon name="chatboxes"></ion-icon>
            {{post.conversationCount}}
          </button>
          </span>
        </ion-col>
        <ion-col width-50>
          <button ion-button small clear [hidden]="account._id != post.creator" (click)="showPostOptions()">
            <ion-icon name="options"></ion-icon>
          </button>
        </ion-col>
      </ion-row>
    </ion-col>
  </ion-row>
  <ion-item>
      <span item-left class="postingInterestedInContainer">
             <p>Posting Type</p>
           <div class="postingTypeText" [hidden]="post.requestType != 'on'">Wants To Work</div>
      <div class="postingTypeText" [hidden]="post.requestType != 'off'">Wants Off</div>

              <p style="margin-top:5px;">Interested In</p>
	   <ion-icon [hidden]="!post.isTrade" name="checkbox"></ion-icon>
                      <ion-icon [hidden]="post.isTrade" name="square-outline"></ion-icon>
                      <span style="margin-right:5px;">Trade</span>
            <ion-icon [hidden]="!post.isOvertime" name="checkbox"></ion-icon>
            <ion-icon [hidden]="post.isOvertime" name="square-outline"></ion-icon>
            <span>Overtime</span>
        </span>

    <div class="commentsContainer" item-right [hidden]="!post.comments">
      <p>Comments</p>

      <p class="postComments">{{post.comments}}</p>
    </div>
  </ion-item>
